.card {
  list-style: none;
  box-shadow: var(--box-shadow);
  padding: 20px;
  border-radius: 4px;
}

.card__header img{
  width:100%
}

.card:last-child {
  margin-bottom: 3rem;
}

.card__body {
  max-width: 350px;
  min-height: 90px;
  margin-bottom: 30px;
}

.card__body h3 {
  margin: 15px 0;
  min-height: 45px;
}

.card__body h3>a {
  color:var(--text-primary)
}

.card__body h3:hover>a {
  color:var(--primary-color);
  transition: ease-in 0.5s;
}

.card__body p {
  max-height: 36px;
  overflow: hidden;
  color: var(--secondary-text);
}
