.post{
    margin: 2rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.post__header>p{
margin: 1rem 0;
color: var(--secondary-text);
}

.post__img{
    margin-top: 1rem;
}

.post__body p{
    margin-top: 1rem;
}